# output dir
output
instant_test_output
inference_test_output


*.png
*.json
*.diff

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
detectron2.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

# project dirs
/detectron2/model_zoo/configs
/datasets/*
!/datasets/*.*
/projects/*/datasets
/models
/configs/*
!/configs/*.yaml
/projects/BorderMask
/projects/LOD-Net-ab
/projects/LOD-Net/config/LOD_test.yaml
/projects/LOD-Net/model_params.py
/projects/LOD-Net/chosen_points_vis.py
/projects/LOD-Net/tool
/projects/LOD-Net/vector_vis.py
/projects/LOD-Net/vector_vis_in_border.py
/projects/LOD-Net/seman_mask_generation_PraNet.py
/projects/LOD-Net/lod_net/lod_head_vis.py
ap_cal.py
display.py
evaluate.py
visualization.py

#others
.circleci
.clang-format
.flake8
